services:
  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: lab2-db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_network

  app:
    build: .
    container_name: lab2-app
    volumes:
      - .:/app
    depends_on:
      - db
    ports:
      - 8000:8000
      - 8001:8001
    networks:
      - app_network

networks:
    app_network:
      driver: bridge

volumes:
  pgdata:
