services:
  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: lab2-db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app_network
    ports:
      - 5432:5432

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
        RABBITMQ_DEFAULT_USER: admin
        RABBITMQ_DEFAULT_PASS: admin
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "check_port_connectivity" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  ftp_server:
    image: stilliard/pure-ftpd:hardened
    container_name: ftp-server
    ports:
      - "21:21"
      - "30000-30009:30000-30009"  # Passive ports for FTP
    environment :
      FTP_USER_NAME: testuser  # FTP username
      FTP_USER_PASS: testpass  # FTP password
      FTP_USER_HOME: / home/testuser  # FTP user home directory
    volumes:
      - ./ftp_data:/ home/testuser  # Map local directory to FTP home

networks:
    app_network:
      driver: bridge

volumes:
  pgdata:
